@import 'resets.css';

body {
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}
.red {
	color: #cc0000;
}
.yellow {
	color: #c0a71a;
}
.container {
	width: 100%;
	padding: 0 25px;
}

/* Header */
header {
	background-color: #5e213b;
	border-bottom: 1px solid #4b494a;
	padding: 54px 0 26px 0;
}
header .logo {
	float: left;
}
header .tagline {
	color: white;
	font-size: 18px;
	line-height: 22px;
	float: right;
}


/* Hero Section */
.hero {
	background-color: #252525;
	border-top: 4px solid #232122;
}
.hero .container {
	position: relative;
}
.hero-paginate {
	position: absolute;
	top: 50px;
	right: 0;
}
.hero-paginate a {
	display: block;
	width: 252px;
	height: 52px;
	line-height: 52px;
	color: white;
	transition: all 0.2s ease;
	right: 0;
	position: absolute;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 10px;
} 
.hero-paginate a.hover {
	width: 308px;
}
.hero-paginate a.concentrations {
	font-family: 'bebas_neue_regularregular';
	font-weight: 400;
	font-size: 19px;
	background-color: transparent;
	top: 0;
}
.hero-paginate a.concentrations.hover {
	width: 252px;
}
.hero-paginate a.fire {
	background-color: #781212;
	top: 52px;
	padding-left: 45px;
}
.hero-paginate a.fire:before {
	content: '';
	background: url('../img/shield.png') no-repeat;
	width: 25px;
	height: 27px;
	display: block;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -13.5px;
}
.hero-paginate a.safety {
	background-color: #c0a71a;
	top: 104px;
	padding-left: 45px;
}
.hero-paginate a.safety:before {
	content: '';
	background: url('../img/shield2.png') no-repeat;
	width: 26px;
	height: 28px;
	display: block;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -14px;
}
.slide-content {
	background-color: rgba(0, 0, 0, .7);
	position: absolute;
	left: 0;
	bottom: 0;
	padding-top: 55px;
	padding-bottom: 55px;
	color: white;
	height: 359px;
	padding-left: 110px;
}
.slide-content--main {
	width: 60%;
	background:-moz-linear-gradient(-58deg, transparent 194px, rgba(0, 0, 0, .7) 75px);
  background:-o-linear-gradient(-58deg, transparent 194px, rgba(0, 0, 0, .7) 75px);
  background:-webkit-linear-gradient(-58deg, transparent 194px, rgba(0, 0, 0, .7) 75px);
  background:linear-gradient(-58deg, transparent 194px, rgba(0, 0, 0, .7) 75px);
}
.slide-content--main p {
	padding-right: 190px;
}
.slide-content--fire,
.slide-content--safety {
	width: 57%;
	background:-moz-linear-gradient(-54deg, transparent 1210x, rgba(0, 0, 0, .7) 75px);
  background:-o-linear-gradient(-54deg, transparent 210px, rgba(0, 0, 0, .7) 75px);
  background:-webkit-linear-gradient(-54deg, transparent 210px, rgba(0, 0, 0, .7) 75px);
  background:linear-gradient(-54deg, transparent 210px, rgba(0, 0, 0, .7) 75px);
}
.slide-content--fire p {
	padding-right: 200px;
}
.slide-content--safety p {
	padding-right: 210px;
}
.slide-content h1 {
	font-size: 58px;
	font-family: 'bebas_neueregular';
}
.slide-content p {
	font-size: 15px;
	line-height: 22px;
	margin-top: 20px;
}
.slide-content--fire h1,
.slide-content--safety h1 {
	font-size: 40px;
	padding-right: 130px;
}
.slide-content h1 span.reg-font {
	font-size: 26px;
	font-weight: 300;
	font-family: Arial, Helvetica, sans-serif;
}
.slide-line {
	width: 195px;
	height: 385px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
}
.slide-line--black {
	background: url('../img/slide-line-black.png') no-repeat;
}
.slide-line--maroon {
	background: url('../img/slide-line-maroon.png') no-repeat;
}
.slide-line--yellow {
	background: url('../img/slide-line-yellow.png') no-repeat;
}
.bx-wrapper {
	margin: 0 auto;
}
.bx-wrapper .bx-viewport {
  -moz-box-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
}


/* Main Section */
.main {
	background: #a7a7a7; background: -moz-linear-gradient(top,  #a7a7a7 0%, #e6e4e4 33%, #e6e4e4 66%, #a7a7a7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a7a7), color-stop(33%,#e6e4e4), color-stop(66%,#e6e4e4), color-stop(100%,#a7a7a7)); background: -webkit-linear-gradient(top,  #a7a7a7 0%,#e6e4e4 33%,#e6e4e4 66%,#a7a7a7 100%); background: -o-linear-gradient(top,  #a7a7a7 0%,#e6e4e4 33%,#e6e4e4 66%,#a7a7a7 100%); background: -ms-linear-gradient(top,  #a7a7a7 0%,#e6e4e4 33%,#e6e4e4 66%,#a7a7a7 100%); background: linear-gradient(to bottom,  #a7a7a7 0%,#e6e4e4 33%,#e6e4e4 66%,#a7a7a7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#a7a7a7',GradientType=0 ); 
	padding: 45px 0;
	border-top: 2px solid white;
}
.main .container {
	width: 1070px;
	margin: 0 auto;
}
.main .col-left {
	float: left;
	width: 51%;
	border-right: 2px solid #77293f;
}
h2.title {
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: #222222;
}
.main .col-left h3 {
	padding-top: 30px;
	padding-bottom: 20px; 
	font-size: 16px;
	line-height: 28px;
	font-weight: bold;
	color: #222222;
}
ul.why {
	width: 435px;
}
ul.why li {
	font-size: 15px;
	color: #222222;
	padding: 10px 0 10px 35px;
	position: relative;
}
ul.why li::before {
	background-image: url(../../public/img/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 17px;
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8.5px;
}
ul.creds li {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}
.main .col-right {
	width: 49%;
	float: right;
}
.form-container {
	padding-left: 57px;
	position: relative;
}
.form-container label.title {
	font-size: 18px;
	display: block;
	color: #222;
	margin: 0 0 15px 0;
}
.form-container .number {
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	background-color: #77293f;
	display: block;
	text-align: center;
	line-height: 38px;
	color: white;
	font-size: 23px;
	font-weight: 400;
	font-family: 'bebas_neue_regularregular';
}
.form-container section {
	display: none;
}
.form-container section.active {
	display: block;
}
.form-container .radio,
.form-container .text-field {
	margin: 15px 0;
	display: block;
}
.form-container li {
	font-size: 15px;
	margin-bottom: 5px;
}
.form-container .text-field input[type=text],
.form-container .text-field input[type=email],
.form-container .text-field input[type=phone] {
	width: 265px;
	padding: 5px 0 5px 10px;
}
.form-container .radio label {
	font-size: 15px;
	color: #222;
}
h3.form_title {
	font-size: 18px;
	line-height: 24px;
	color: #222222;
	padding-top: 5px;
}
.form-container button {
	font-size: 23.50px;
	line-height: 22.75px;
	color: #ffffff;
	padding: 10px 28px;
	background-color: #0f5004;
	border: none;
	font-family: 'bebas_neueregular';
	margin-top: 51px;
	cursor: pointer;
}
.form-button {
	float: right;
	width: 250px;
}
.form-button p {
	text-align: center;
	font-size: 11px;
	color: #222222;
	padding-top: 10px;
}
.form-container section {
	display: none;
}
.form-container section.active {
	display: block;
}


/* Footer */
footer {
	background-color: #252525;
	padding: 10px 0;
}
footer ul {
	float: right;
}
footer li {
	display: inline-block;
	font-size: 11px;
}
footer li:after {
	content: '|';
	display: inline-block;
	color: white;
	margin-left: 5px;
}
footer li:last-child:after {
	content: '';
}
footer li a {
	color: white;
	text-decoration: none;
}


/* Media Queries */
@media only screen and (min-width: 1250px) {
	.container {
		width: 1250px;
		padding: 0;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 1250px) {
	.hero .container {
		padding: 0;
	}
	.slide-content--main,
	.slide-content--fire,
	.slide-content--safety {
		padding: 25px;
		width: 100%;
		height: auto;
		background: rgba(0, 0, 0, 0.75);
	}
	.slide-content--fire h1,
	.slide-content--safety h1,
	.slide-content--main h1 {
		padding: 0;
		font-size: 32px;
	}
	.slide-content--fire p,
	.slide-content--safety p,
	.slide-content--main p {
		padding: 0;
		font-size: 14px;
	}
	.slide-line {
		display: none;
	}
}
@media only screen and (max-width: 1079px) {
	.main .container {
		width: 100%;
		padding-right: 25px;
	}
}
@media only screen and (max-width: 980px) {
	.hero-paginate {
		top: 0;
	}
	.slide-content--fire p,
	.slide-content--safety p,
	.slide-content--main p {
		display: none;
	}
	.slide-content--fire h1,
	.slide-content--safety h1,
	.slide-content--main h1 {
		text-align: center;
	}
	.main .col-left {
		width: 100%;
		float: none;
		border: none;
	}
	.main .col-right {
		border-top: 2px solid #77293f;
		margin-top: 25px;
		padding-top: 25px;
		width: 100%;
		float: none;
	}
	.form-button {
		float: none;
		width: auto;
		text-align: left;
	}
	.form-container button {
		margin-top: 20px;
	}
	.form-button p {
		text-align: left;
	}
	.form-container .text-field input[type=text],
	.form-container .text-field input[type=email],
	.form-container .text-field input[type=phone] {
		width: 90%;
	}
	ul.why {
		width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	header {
		padding: 20px 0;
	}
	footer ul {
		float: none;
		text-align: center;
	}
}
@media only screen and (max-width: 640px) {
	header {
		text-align: center;
	}
	header .logo {
		float: none;
	}
	header .logo img {
		width: 100px;
	}
	header .tagline {
		width: 100%;
		display: block;
		text-align: center;
	}
	.slide-content--fire h1,
	.slide-content--safety h1,
	.slide-content--main h1 {
		font-size: 26px;
	}
	.hero-paginate a.concentrations {
		width: 220px;
		padding-right: 0px;
	}
	.hero-paginate a.fire,
	.hero-paginate a.safety {
		text-indent: -9999px;
		width: 40px;
		padding-left: 45px;
		transform: all 0.3s ease;
	}
	.hero-paginate a.fire.hover,
	.hero-paginate a.safety.hover {
		padding-right: 55px;
	}
	.form-container .text-field input[type=text],
	.form-container .text-field input[type=email],
	.form-container .text-field input[type=phone] {
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
	header .tagline {
		font-size: 13px;
		line-height: 15px;
		margin-top: 10px;
	}
	.hero-paginate a.concentrations {
		display: none;
	}
	.hero-paginate a.fire,
	.hero-paginate a.safety {
		padding-left: 0px;
		width: 33px;
		height: 32px;
		line-height: 32px;
	}
	.hero-paginate a.fire {
		top: 0;
	}
	.hero-paginate a.safety {
		top: 32px;
	}
	.hero-paginate a.fire:before {
		content: '';
		background: url('../img/shield.png') no-repeat;
		background-size: 12.5px 13.5px;
		width: 12.5px;
		height: 13.5px;
		display: block;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -6.25px;
	}
	.hero-paginate a.safety:before {
		content: '';
		background: url('../img/shield2.png') no-repeat;
		background-size: 13px 14px;
		width: 13px;
		height: 14px;
		display: block;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -7px;
	}
	.slide-content--fire h1, 
	.slide-content--safety h1,
	.slide-content--main h1 {
		font-size: 18px;
	}
	.slide-content h1 span.reg-font {
		font-size: 18px;
	}
	.form-container {
		padding-left: 0px;
	}
	.form-container .number {
		display: none;
	}
}